.choiceBttn{
    line-height: 30px;
    width: 150px;
}
#gameScreen{
    font-family: monospace;
    border: 2px solid;
    border-radius: 20px;
    padding: 15px; 
    background-color: lightslategray;
    text-align: center;
}
#playerText{
    color:green;
}
#computerText{
    color: blue;
}
